src/main/resources/persons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.baeldung.com/springsoap/gen"
           targetNamespace="http://www.baeldung.com/springsoap/gen" elementFormDefault="qualified">

    <xs:element name="getPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="tns:person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="person">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="phone" type="xs:string"/>
            <xs:element name="email_address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>